
/*      TRANSITIONS
<style> 
div {
    width: 100px;
    height: 100px;
    background: red;
    -webkit-transition: width 2s linear 1s; /* For Safari 3.1 to 6.0 */
    transition: width 2s linear 1s;
}

div:hover {
    width: 300px;
}
</style>
*/

div {
    width: 100px;
    height: 100px;
    background: red;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}
